html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  #creditsBody {
    padding: 0;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    a{
      text-decoration: none;
      color: #2d4691;
      cursor: pointer;
    }
    #credits {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .creditsTitle{
        text-decoration: underline;
      }
    }
    .resourcesTitleText{
      text-decoration: underline;
    }
    .resources{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .backButton > i{
      text-decoration: none;
    }
    .backButtonContainer {
      width: 128px;
      .backButtonATag {
        text-decoration: none;
        .backButton > i {
          margin-right: 10px;
          font-size: 25px;
        }
        .backButton {
          width: 127px;
          height: 30px;
          font-size: 18px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: auto;
          cursor: pointer;
        }
      }
    }
  }
}