html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  #creditsBody {
    padding: 0;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    a{
      text-decoration: none;
      color: #2d4691;
      cursor: pointer;
    }
    #credits {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .creditsTitle{
        text-decoration: underline;
      }
    }
    .resourcesTitleText{
      text-decoration: underline;
    }
    .resources{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}