@import "colorPalette";

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  #highScoresBody {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: black;
    color:  white;
    .backButtonContainer {
      width: 128px;
      margin-bottom: 10px;
      .backButtonATag {
        text-decoration: none;
        .backButton > i {
          margin-right: 10px;
          font-size: 25px;
        }
        .backButton {
          width: 127px;
          height: 30px;
          font-size: 18px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: auto;
          cursor: pointer;
          background-color: white;
          border: none;
          color: black;
        }
      }
    }
    .highScoreTitleContainer {
      display: flex;
      flex-direction: row;
      margin-bottom: -40px;
      align-items: center;
      justify-content: center;
      .highScore{
        font-family: highScore, sans-serif;
        font-size: 45px;
      }
      .zombieIcon{
        height: 65px;
      }
    }
    .clearScores{
      font-size: 13px;
      border-radius:  0%;
      margin-bottom: 10px;
    }
    .tables {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 45%;
        margin: 10px 10px;
        .publicHighScoreCaption{
          margin-bottom: 34px;
        }
        caption{
          font-size: 25px;
          font-weight: bold;
          button{
            margin-bottom: 5px;
            border-radius: 0%;
            font-size: 13px;
          }
        }
        td, th {
          border: 1px solid #ddd;
          text-align: left;
          padding: 8px;
        }
        tr{
          background-color: black;
          color: white;
          font-family: arcade, openSans, sans-serif;
          font-size: 13px;
        }
        .localPlace {
          width: 35px;
          text-align: center
        }
        .globalPlace {
          width: 35px;
          text-align: center
        }
        .medalContainer {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .medalImage {
            width: 18px;
          }
        }
      }
      .mobileTableNavigate > button{
        font-family:  arcade, openSans, sans-serif;
        font-size: 12px;
        cursor: pointer;
        background: none;
        border: none;
        color: white;
      }
      .mobileTableNavigate > p{
        font-family:  arcade, openSans, sans-serif;
        font-size: 12px;
        color: white;
      }
      .mobileTableNavigate{
        display: none;
      }
    }
    #tableNavigateContainer{
      display: flex;flex-direction: row;
      justify-content: space-evenly;
      .tableNavigate > button{
        font-family:  arcade, openSans, sans-serif;
        font-size: 12px;
        cursor: pointer;
        background: none;
        border: none;
        color: white;
      }
      .tableNavigate > p{
        color: white;
        font-family: arcade, openSans, sans-serif;
        font-size: 12px;
      }
      .tableNavigate{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 45%;
        margin: 10px 10px;
      }
    }
  }
}

@media only screen and (max-width: 944px) {
  html {
    #highScoresBody {
      .tables{
        display: flex;
        flex-direction: column;
        align-items: center;
        // table to big to include date on small screens
        .dateColumn, .globalDate, .localDate{
          display: none;
        }
        .mobileTableNavigate{
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          width: 100%;
        }
        .mobileTableNavigate > p{
          cursor: pointer;
        }
      }
      #tableNavigateContainer {
        .tableNavigate{
          display: none;
        }
      }
    }
  }
}