@import "colorPalette";

html{
  #indexBody{
    input:focus{
      outline:0;
    }
    input[type=text]:focus {
      border-bottom: 1px solid blue;
    }
    input[type=text] {
      border: none;
      border-bottom: 1px solid black;
    }
    a{
      color: black;
      text-decoration: none;
    }
    #topBar{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      #gameTitle{
        width: 25%;
      }
      .buildingContainer > button{
        margin: 5px auto;
      }
      .buildingContainer{
        border: 1px solid black;
        margin: auto 5px;
        width: 75%;
        .buildingContainerContent > div{
          margin: auto 10px;
        }
        .buildingContainerContent{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          .buildingFacts{

          }
          .buildingButtons{
            width: 75%;
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            flex-wrap: wrap;
            #sendSoldierToClaimLand{
              margin-bottom: 14px;
              input{
                width: 100px;
              }
            }
            .buildingButtonBox > p{
              margin-bottom: 2px;
            }
            .buildingButtonBox{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin: auto 5px /*0*/ 10px 5px;
              button{
                width: 250px;
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
    .cityName{
      width: 180px;
    }
    .cityInputsContainer{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      #cityNameInput{
        margin: auto 10px;
      }
    }
    .pageLinkContainer > a{
      margin: auto 10px;
    }
    .pageLinkContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin: auto;
      div{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
      }
      #pageLinkContainerTop{

      }
      #pageLinkContainerBottom{

      }
      .pageLink {
        color: black;
        text-decoration: none;
      }
      .muteIndicator{
        font-size: 23px;
        margin-bottom: 5px;
        cursor: pointer;
      }
    }
    #creditsLinkBox{
      margin-top: -15px;
    }
    #scoresLinkBox{
      margin-top: -15px;
    }
    .mainGameContainer{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 15px;
      .gameBox{
        border: 1px solid black;
        width: 50px;
        height: 580px;
      }
      .leftGameBox{
        margin: auto 10px;
        width: 22.5%;
        .inventoryMainContainer{
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
      }
      .middleGameBox{
        margin: auto 5px;
        width: 70%;
        .gameTextContainer{
          margin-bottom: 0;
          height: 120px;
          .gameText{
            font-size: 19px;
          }
          #gameWarnings{
            color: $warning-red;
          }
        }
        .mainInfo{
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          .mainSatsTitle{
            margin-right: 5px;
          }
          .mainCounter{
            margin-right: 15px;
          }
        }
        .populationButtons > button{
          height: 29px;
          width: 166px;
          font-size: 12px;
          margin: auto 3px;
        }
        .populationButtons{
          display: flex;
          flex-direction: column;
          align-content: center;
          flex-wrap: wrap;
          .converterButtonBox{
            margin: 10px auto;
            .mainGameBtn {
              height: 35px;
              width: 200px;
              font-size: 13px;
              margin: 0;
            }
            .farmerBtn{
              background-color: $farmerBrown;
              color: white;
            }
            .soldierBtn{
              background-color: $soldierGreen;
              color: white;
            }
            .minerBtn{
              background-color: $minerGold;
              color: black;
            }
            .lumberJackBtn{
              background: url("../assets/images/plaid.png") no-repeat;
              background-size: cover;
              color: white;
            }
          }
        }
        .mainButtonContainer{
          .nextDayBtn{
            height: 29px;
            width: 166px;
            font-size: 12px;
            margin-top: 15px;
          }
        }
      }
      .rightGameBox {
        margin: auto 10px;
        width: 22.5%;
        .researchContainer {
          .researchInfo {
            cursor: pointer;
          }
          .researchButtonBox {
            margin-bottom: 10px;
            .researchIndivButtonBox > p {
              margin-bottom: 2px;
            }
            .researchIndivButtonBox {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    .bottomGameContainer{
      width:  98.6%;
      margin: 10px auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .bottomGameContentContainers{
        width: 50%;
        border:  1px solid black;
      }
      #forge{
        margin-left: 4px;
      }
      #store{
        margin-right: 4px;
        .storeInput{
          width: 70px;
        }
      }
    }
    .graveyard{
      width:  98.6%;
      border: 1px solid black;
      margin: 10px auto;
      text-align: center;
      .tombstoneContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .tombstone{
          width: 100px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .tombstoneText{
            color: white;
            background-color: black;
            height: 37px;
            width: 135px;
            margin-bottom: 19px;
            margin-top: -2px;
          }
        }
      }
    }
    .breakDown{
      cursor: pointer;
    }
    .infoModalContent {
      margin: auto -70px;
      .infoModalTextContainer{
        margin: auto 8px;
        .infoModalTitle {
          text-decoration: underline;
          margin-bottom: 5px;
        }
        .infoModalText{
          text-align: left;
        }
      }
      .infoModalCloseButton{
        margin-bottom: 5px;
      }
    }
    #gameOverModal{
      margin: auto -400px;
      p{
        margin-left: 5px;
        text-align: left;
      }
      #gameOverModalDialog{
        width: 400px;
      }
      #userNameInputContainer{
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        #userNameInput{
          margin-right: 10px;
        }
      }
    }
   .modalText > p{
      text-indent: 50px;
      text-align: left;
      margin: auto 8px;
      #oneChanceStoreButtonContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
    }
    #buildingInfoModal{
      .infoModalTextContainer{
        p{
          text-align: left;
        }
      }
    }
    #villagePreach1Modal{
      margin: auto 180px;
      .modalText{
        text-align: center;
        text-indent: 0;
      }
    }
    audio{
      //display: none;
    }
  }
}
.itemTextBoxLeft, .itemTextBoxRight{
  display: flex;
  flex-direction: column;
  margin-left:  10px;
}
.legendaryItem{
  color: #7A24C2;
}

@media only screen and (max-width: 1439px) {
  html {
    #indexBody {
      .mainGameContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        .leftGameBox{
          width: 98%;
        }
        .middleGameBox{
          width: 98%;
        }
        .rightGameBox{
          width: 98%;
        }
      }
    }
  }
}
@media only screen and (max-width: 1332px) {
  html {
    #indexBody {
      #topBar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .buildingContainer{
          width: 98.6%;
          margin: auto;
        }
      }
    }
  }
}
@media only screen and (max-width: 1439px) {
  html {
    #indexBody {
      .mainGameContainer{
        .gameBox{
          height: auto;
        }
      }
      .pageLinkContainer {
        div {
          flex-direction: column;
        }
      }
    }
  }
}
