@font-face {
  font-family: highScore;
  src: url(../fonts/MonstersAttack.ttf); }
@font-face {
  font-family: openSans;
  src: url(../fonts/OpenSans.ttf); }
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  font-family: openSans, sans-serif; }
  html body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    text-align: center; }
    html body h1 {
      display: block;
      font-size: 2em;
      -webkit-margin-before: 0.67em;
      -webkit-margin-after: 0.67em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      font-weight: bold;
      font-family: openSans, sans-serif; }
    html body h2 {
      display: block;
      font-size: 1.5em;
      -webkit-margin-before: 0.83em;
      -webkit-margin-after: 0.83em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      font-weight: bold;
      font-family: openSans, sans-serif; }
    html body h3 {
      display: block;
      font-size: 1.17em;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      font-weight: bold;
      font-family: openSans, sans-serif; }
    html body button:focus {
      outline: 0; }
    html body button {
      cursor: pointer; }

html #indexBody input:focus {
  outline: 0; }
html #indexBody input[type=text]:focus {
  border-bottom: 1px solid blue; }
html #indexBody input[type=text] {
  border: none;
  border-bottom: 1px solid black; }
html #indexBody a {
  color: black;
  text-decoration: none; }
html #indexBody .cityName {
  width: 180px; }
html #indexBody .cityInputsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  html #indexBody .cityInputsContainer #cityNameInput {
    margin: auto 10px; }
html #indexBody .pageLinkContainer {
  display: flex;
  justify-content: center;
  width: 150px;
  margin: auto; }
  html #indexBody .pageLinkContainer .pageLink {
    color: black;
    text-decoration: none; }
  html #indexBody .pageLinkContainer .muteIndicator {
    font-size: 23px;
    margin-bottom: 5px;
    cursor: pointer; }
html #indexBody #creditsLinkBox {
  margin-top: -15px; }
html #indexBody .mainGameContainer {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  html #indexBody .mainGameContainer .gameBox {
    border: 1px solid black;
    width: 50px;
    height: 580px; }
  html #indexBody .mainGameContainer .leftGameBox {
    margin: auto 10px;
    width: 22.5%; }
    html #indexBody .mainGameContainer .leftGameBox .inventoryMainContainer {
      display: flex;
      flex-direction: row;
      justify-content: center; }
  html #indexBody .mainGameContainer .middleGameBox {
    margin: auto 5px;
    width: 70%; }
    html #indexBody .mainGameContainer .middleGameBox .gameTextContainer {
      margin-bottom: 0;
      height: 120px; }
      html #indexBody .mainGameContainer .middleGameBox .gameTextContainer .gameText {
        font-size: 19px; }
      html #indexBody .mainGameContainer .middleGameBox .gameTextContainer #gameWarnings {
        color: #f53d3d; }
    html #indexBody .mainGameContainer .middleGameBox .mainInfo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap; }
      html #indexBody .mainGameContainer .middleGameBox .mainInfo .mainSatsTitle {
        margin-right: 5px; }
      html #indexBody .mainGameContainer .middleGameBox .mainInfo .mainCounter {
        margin-right: 15px; }
    html #indexBody .mainGameContainer .middleGameBox .populationButtons > button {
      height: 29px;
      width: 166px;
      font-size: 12px;
      margin: auto 3px; }
    html #indexBody .mainGameContainer .middleGameBox .populationButtons {
      display: flex;
      flex-direction: column;
      align-content: center;
      flex-wrap: wrap; }
      html #indexBody .mainGameContainer .middleGameBox .populationButtons .converterButtonBox {
        margin: 10px auto; }
        html #indexBody .mainGameContainer .middleGameBox .populationButtons .converterButtonBox .mainGameBtn {
          height: 35px;
          width: 200px;
          font-size: 13px;
          margin: 0; }
        html #indexBody .mainGameContainer .middleGameBox .populationButtons .converterButtonBox .farmerBtn {
          background-color: #533C16;
          color: white; }
        html #indexBody .mainGameContainer .middleGameBox .populationButtons .converterButtonBox .soldierBtn {
          background-color: #4D5227;
          color: white; }
        html #indexBody .mainGameContainer .middleGameBox .populationButtons .converterButtonBox .minerBtn {
          background-color: #FFD700;
          color: black; }
        html #indexBody .mainGameContainer .middleGameBox .populationButtons .converterButtonBox .lumberJackBtn {
          background: url("../images/plaid.png") no-repeat;
          background-size: cover;
          color: white; }
    html #indexBody .mainGameContainer .middleGameBox .mainButtonContainer .nextDayBtn {
      height: 29px;
      width: 166px;
      font-size: 12px;
      margin-top: 15px; }
  html #indexBody .mainGameContainer .rightGameBox {
    margin: auto 10px;
    width: 22.5%; }
    html #indexBody .mainGameContainer .rightGameBox .researchInfo {
      cursor: pointer; }
    html #indexBody .mainGameContainer .rightGameBox .researchButtonBox {
      margin-bottom: 10px; }
      html #indexBody .mainGameContainer .rightGameBox .researchButtonBox .researchIndivButtonBox > p {
        margin-bottom: 2px; }
      html #indexBody .mainGameContainer .rightGameBox .researchButtonBox .researchIndivButtonBox {
        margin-bottom: 10px; }
html #indexBody .bottomGameContainer {
  width: 98.6%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  html #indexBody .bottomGameContainer .bottomGameContentContainers {
    width: 50%;
    border: 1px solid black; }
  html #indexBody .bottomGameContainer #forge {
    margin-left: 4px; }
  html #indexBody .bottomGameContainer #store {
    margin-right: 4px; }
    html #indexBody .bottomGameContainer #store .storeInput {
      width: 70px; }
html #indexBody .highScoreContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
  margin-top: 10px; }
  html #indexBody .highScoreContainer .highScore {
    font-family: highScore, openSans, sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 0; }
  html #indexBody .highScoreContainer .zombieIcon {
    height: 50px; }
html #indexBody #highScoreBoard {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 10px; }
  html #indexBody #highScoreBoard .highScoreText {
    margin-top: -20px; }
html #indexBody .graveyard {
  width: 98.6%;
  border: 1px solid black;
  margin: 10px auto 0 auto;
  text-align: center; }
  html #indexBody .graveyard .tombstoneContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    html #indexBody .graveyard .tombstoneContainer .tombstone {
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      html #indexBody .graveyard .tombstoneContainer .tombstone .tombstoneText {
        color: white;
        background-color: black;
        height: 37px;
        width: 135px;
        margin-bottom: 19px;
        margin-top: -2px; }
html #indexBody .infoModalContent {
  margin: auto -70px; }
  html #indexBody .infoModalContent .infoModalTextContainer {
    margin: auto 8px; }
    html #indexBody .infoModalContent .infoModalTextContainer .infoModalTitle {
      text-decoration: underline;
      margin-bottom: 5px; }
    html #indexBody .infoModalContent .infoModalTextContainer .infoModalText {
      text-align: left; }
  html #indexBody .infoModalContent .infoModalCloseButton {
    margin-bottom: 5px; }
html #indexBody #gameOverModal {
  margin: auto -400px; }
  html #indexBody #gameOverModal p {
    margin-left: 5px;
    text-align: left; }
  html #indexBody #gameOverModal #gameOverModalDialog {
    width: 400px; }
  html #indexBody #gameOverModal #userNameInputContainer {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    html #indexBody #gameOverModal #userNameInputContainer #userNameInput {
      margin-right: 10px; }

.itemTextBoxLeft, .itemTextBoxRight {
  display: flex;
  flex-direction: column;
  margin-left: 10px; }

@media only screen and (max-width: 1439px) {
  html #indexBody .mainGameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center; }
    html #indexBody .mainGameContainer .leftGameBox {
      width: 98%; }
    html #indexBody .mainGameContainer .middleGameBox {
      width: 98%; }
    html #indexBody .mainGameContainer .rightGameBox {
      width: 98%; } }
@media only screen and (max-width: 726px) {
  html #indexBody .mainGameContainer .middleGameBox {
    height: 900px; } }
html #instructionsBody {
  color: white;
  background: url("../images/instruction'sBackground.jpg") no-repeat;
  background-size: cover; }
  html #instructionsBody p {
    text-align: justify; }
  html #instructionsBody p, html #instructionsBody h1, html #instructionsBody h2 {
    Text-Shadow: #000000 1px 0 0, #000000 1px 1px 0, #000000 1px -1px 0px, #000000 -1px 1px 0px, #000000 -1px 0px 0px, #000000 -1px -1px 0px, #000000 0px 1px 0px, #000000 0px -1px 0px; }
  html #instructionsBody .storyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    margin: auto; }
    html #instructionsBody .storyContainer .storyText {
      text-indent: 50px; }
  html #instructionsBody .backButton > i {
    text-decoration: none; }
  html #instructionsBody .backButtonContainer {
    width: 128px;
    margin: auto; }
    html #instructionsBody .backButtonContainer .backButtonATag {
      text-decoration: none; }
      html #instructionsBody .backButtonContainer .backButtonATag .backButton > i {
        margin-right: 10px;
        font-size: 25px; }
      html #instructionsBody .backButtonContainer .backButtonATag .backButton {
        width: 127px;
        height: 30px;
        font-size: 18px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
        cursor: pointer; }
  html #instructionsBody table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px; }
  html #instructionsBody td, html #instructionsBody th {
    border: 1px solid #dddddd;
    padding: 8px;
    color: black;
    text-align: center; }
  html #instructionsBody tr:nth-child(even) {
    background-color: #dddddd; }
  html #instructionsBody tr:nth-child(odd) {
    background-color: #fff; }

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto; }
  html #creditsBody {
    padding: 0;
    width: 50%;
    height: auto;
    margin: auto;
    text-align: center; }
    html #creditsBody a {
      text-decoration: none;
      color: #2d4691;
      cursor: pointer; }
    html #creditsBody #credits {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
    html #creditsBody .resourcesTitleText {
      text-decoration: underline; }
    html #creditsBody .resources {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
    html #creditsBody .backButton > i {
      text-decoration: none; }
    html #creditsBody .backButtonContainer {
      width: 128px;
      margin: 20px auto 0 auto; }
      html #creditsBody .backButtonContainer .backButtonATag {
        text-decoration: none; }
        html #creditsBody .backButtonContainer .backButtonATag .backButton > i {
          margin-right: 10px;
          font-size: 25px; }
        html #creditsBody .backButtonContainer .backButtonATag .backButton {
          width: 127px;
          height: 30px;
          font-size: 18px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: auto;
          cursor: pointer; }

/*# sourceMappingURL=main.css.map */
